$colorWeather     : rgb(158, 158, 158);
$colorWeatherDark : rgb(110, 110, 110);

*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100vh;
}

body{
    .errors{
        z-index: 9999;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: center;
        & > div{
            cursor: pointer;
            width: 80%;
            padding: 20px;
            background: rgba(231, 56, 56, 0.733);
            margin: 15px auto;
            border-radius: 10px;
            border: 2px solid rgba(255, 0, 0, 0.678);
            position: relative;
            &:after{
                content : "X";
                position: absolute;
                top: 50%;
                right: 20px;
                transform: translateY(-50%);
            }
        }
    }

    #map{
        width: 100%;
        height: 100%;
        color: black;
    }

    #curiosity{
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 9999;
        transition: all .8s;
        transform: translateY(calc(100% - 60px));
        width: 400px;
        height: 400px;
        &.show{
            transform: translateY(0);
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .curiosity-trigger{
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 60px;
            background: rgb(0, 132, 255);
            color: white;
        }
    }
}